.home-slider .slick-prev {
  background: url("../assets/icons/arrow-left.svg") center center no-repeat !important;
  box-shadow:
    6px 0 4px rgba(0, 0, 0, 0.05),
    4px 0 4px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  padding: 1.3rem;
}
.home-slider .slick-prev::before {
  display: none;
}

.home-slider .slick-next {
  background: url("../assets/icons/arrow-right.svg") center center no-repeat !important;
  box-shadow:
    6px 0 4px rgba(0, 0, 0, 0.05),
    4px 0 4px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  padding: 1.3rem;
}
.home-slider .slick-next::before {
  display: none;
}

.home-slider .slick-dots {
  position: relative;
  bottom: 0;
}
.home-slider .slick-slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
}
.home-slider .slick-list {
  z-index: -1;
}

/* Images Carousel */
.images-slider .slick-dots {
  position: relative;
  bottom: 0;
}
/* .images-slider .custom-indicator {
  bottom: -65px;
} */
.images-slider .custom-indicator li {
  width: 50px;
  height: 50px;
}
